<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Imagen</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Borrar producto</th>
                <th scope="col"><a href="/products">Homepage</a></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>
                        {{@index}}
                    </td>
                    <td>
                        {{this.pid.title}}
                    </td>
                    <td>
                        <img src={{this.pid.thumbnail}} alt={{this.pid.title}} height="50px" width="auto" />
                    </td>
                    <td>{{this.quant}}</td>
                    <td>${{this.pid.price}}</td>
                    <td>
                        <button onclick="eliminarProducto('{{this.pid._id}}','cart')">X</button>
                    </td>
                </tr>
              {{/each}}
            {{!-- <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>Cantidad productos: </td>
                <td>Total: $</td>
                <td></td>
            </tr> --}}
        </tbody>
    </table>
    <div class="mx-auto text-center">
        <button onclick="comprarCarrito()">Comprar carrito</button>
    </div>
</div>


<script src="/js/cart.js"></script>