{{#if isValid}}
<div>
    <h1>Bienvenidos a la Tienda de E-commerce!!</h1>

    <div class="d-flex flex-wrap">
        {{#each docs}}

        <div class="card d-flex flex-wrap" style="width: 20rem;">
            <img src={{this.thumbnail}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio: ${{this.price}}</li>
                <li class="list-group-item">Stock disponible:{{this.stock}}</li>
                <li class="list-group-item">Codigo de producto: {{this.code}}</li>
                <li class="list-group-item">Categoria: {{this.category}}</li>
            </ul>
        </div>

        {{/each}}
    </div>
     {{#if hasPrevPage}}
        <a href={{this.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
     {{#if hasNextPage}}
        <a href={{this.nextLink}}>Siguiente >></a>
    {{/if}} 
    {{else}}
<h1>No hay productos para mostrar</h1>
</div>
{{/if}}

