{{#if isValid}}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">

        <a class="navbar-brand" href="#">ECOM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="http://localhost:8080?page=1">Home</a>
                <a class="nav-item nav-link" href="http://localhost:8080?category=smartphones">smartphones</a>
                <a class="nav-item nav-link" href="http://localhost:8080?category=laptops">laptops</a>
                <a class="nav-item nav-link" href="http://localhost:8080?category=fragrances">fragrances</a>
                <a class="nav-item nav-link" href="http://localhost:8080?category=skincare">skincare</a>
                <a class="nav-item nav-link" href="http://localhost:8080?category=groceries">groceries</a>
            </div>
        </div>

    </nav>
    <h1>Bienvenidos a la Tienda de E-commerce!!</h1>

    <div class="d-flex flex-wrap">
        {{#each docs}}

        <div class="card d-flex flex-wrap" style="width: 20rem;">
            <img src={{this.thumbnail}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio: ${{this.price}}</li>
                <li class="list-group-item">Stock disponible:{{this.stock}}</li>
                <li class="list-group-item">Codigo de producto: {{this.code}}</li>
                <li class="list-group-item">Categoria: {{this.category}}</li>
            </ul>
            <button type="button" class="btn btn-primary" onclick="myFunction()">Agregar a carrito</button>
        </div>

        {{/each}}
    </div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
        << Anterior</a>
            {{/if}}
            &nbsp;
            {{this.page}}
            &nbsp;
            {{#if hasNextPage}}
            <a href={{this.nextLink}}>Siguiente >></a>
            {{/if}}
            {{else}}
            <h1>No hay productos para mostrar</h1>
</div>
{{/if}}